<!DOCTYPE html>
<html>
<head>
  <title>CancerBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container2"><%= link_to image_tag("pic2.png" , :alt =>"Ribbon", :class=>"img-rounded"), root_path %></div>
<div class="container">

<nav class="round">
<header>



	<ul class="nav nav-pills">
	<li>
		<%=link_to 'home',root_path %>
	</li>
	<li>
		<%=link_to 'about',static_pages_about_path %>
	</li>
	<li>
		<%=link_to 'contact', static_pages_contact_path%>
	</li>
	 
</ul>
</nav>
</header>
</div>

<%= yield %>

</body>
</html>
